<body>
    <section>
        <aside>
            <h1>Express Yourself</h1>
            <img id='logoImgage' src="../../../assets/images/giphy (2).gif" alt='logoImgage'/>
        </aside>
        <main>
            <form (ngSubmit)="LogInUser()" #userForm="ngForm">
                <h2>Welcome Back!</h2>
                <label for="emailInput">E-mail:</label>
                <input type="email" class="emailInput" id="emailInput" 
                placeholder="mail@example.com" name="email" [(ngModel)]="dataUser.email" required> 
                <label for="passwordInput">Password:</label>
                <input type="password" class="passwordInput" id="passwordInput" 
                placeholder="Your password" name="password" [(ngModel)]="dataUser.password" required> 
                <button type="submit" class="LogInBtn">LogIn</button>          
            </form>        
        </main>
    </section>
    <footer>
        <button type="button" class="ToSignUp" routerLink="/SignUp">SignUp</button>
    </footer>        
</body>

