@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap');

$color-font: #FFFFFF;

@mixin fontStyle ($fontSize, $fontWeight, $fontStyle, $fontColor) {
    font-size: $fontSize;
    font-weight:$fontWeight;
    font-style: $fontStyle;
    color:$fontColor;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmin;
    border-bottom: 5px solid #F9D76A;

    h1{
        @include fontStyle(7vmin, normal, normal, $color-font);
        margin: 0vmin;
        font-family: 'Sacramento', cursive;        
    }
    .btnNote{
        @include fontStyle(3vmin, bold, normal, rgba(74, 50, 14, 0.76));
        font-family: 'Montserrat', sans-serif;
        background: #F9D76A;
        box-shadow: 0px 8px 8px rgba(249, 215, 106, 0.26);
        border-radius: 50px;
        width: 30vmin;
        height: 7vmin;
    }
    .btnLogOut{
        @include fontStyle(3vmin, normal, normal, #F9D76A);
        font-family: 'Montserrat', sans-serif;
        border: 5px solid #F9D76A;
        border-radius: 50px;
        box-shadow: 0px 8px 8px rgba(249, 215, 106, 0.26);
        background: transparent;
        width: 15vmin;
        height: 7vmin;
    }
}